{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Hange Gallery{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/hange_gallery.css' %}">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Hange Gallery</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/all-2025-hange-art/">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about-me/">About</a>
        </li>

      </ul>

    </div>

  </div>
</nav>
    {% block content %}
    {% endblock %}

</body>
</html>