{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="container-fluid px-4"> 
    <div class="row g-4 align-items-start"> 
        <div class="col-md-6">
            <h1 class="page-heading">{{ page.title }} </h1>
            <div class="rich-text-content mb-4">
                {{ page.body|richtext }}
            </div>
            <a class="cta-button" href="/all-2025-hange-art/">Enter Hange Gallery</a>
        </div>

        <div class="col-md-6">
  <div class="hange-image-wrapper align-items-center">
    
    <!-- blurred background -->
    <div class="hange-blur"></div>

    <!-- actual image -->
    {% include "includes/image.html" with image=page.hero_image variant="hero_image" %}

  </div>
</div>

    </div> </div> 

{% endblock %}