{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

{% for block in page.sections %}

<h1 class="month-heading align-self-start">{{ block.value.title }}</h1>

<div id="carousel{{ forloop.counter }}" class="carousel slide">

  <div class="carousel-inner">

    {% for item in block.value.artworks %}
      {% with art=item.artwork.specific %}

      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        {% include "includes/link_card.html" with variant="carousel-card" %}
      </div>

      {% endwith %}
    {% endfor %}

  </div>

{% include "includes/nav_button.html" with position="prev" %}  
{% include "includes/nav_button.html" with position="next" %} 

</div>

{% endfor %}


{% endblock %}