:root {
  --primary: #ba866a;
  --secondary: #743620;
  --bg-soft: #191212;
  --radius-lg: 16px;
  --radius-md: 8px;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.08);
  --gradient-primary: linear-gradient(
  270deg,
  var(--primary),
  var(--secondary),
  var(--primary)
);
  --glow-primary: rgba(156,103,80,0.7);
  --overlay-gradient: linear-gradient(
      to top,
      rgba(0,0,0,0.8),
      rgba(0,0,0,0)
  );
  --success: #69ba80;
  --error: #ba6969;
}
